<style>
body {
    background-image: url(https://img.freepik.com/free-vector/traditional-diwali-puja-background-with-diya-flower_1017-28589.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  font-style: white;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 16px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label {
  font-size: 14px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}

.container {
  width: 400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 1 0 25%;
  max-width: 25%;
}

#output {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

<style>

  @media only screen and (max-width: 600px) {

  }
</style>
